<div class="footer">
    <p>&copy; 2025 My Book Recommender | All Rights Reserved</p>
    <p>
        <a href="{{ url_for('home') }}">Home</a> |
        <a href="{{ url_for('about') }}" target="_blank">About Us</a> |
<a href="{{ url_for('recommend_books') }}" target="_blank">Recommendations</a> |
        <a href="{{ url_for('contact') }}" target="_blank">Contact</a>
    </p>
    <p>
        <a href="https://www.facebook.com" target="_blank">Facebook</a> |
        <a href="https://www.twitter.com" target="_blank">Twitter</a> |
        <a href="https://www.instagram.com" target="_blank">Instagram</a>
    </p>
</div>
